@charset "utf-8";

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-black-webfont.eot');
    src: url('../fonts/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-black-webfont.woff') format('woff'),
         url('../fonts/montserrat-black-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-extrabold-webfont.eot');
    src: url('../fonts/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-extrabold-webfont.woff') format('woff'),
         url('../fonts/montserrat-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-extrabold-webfont.svg#montserratextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-extralight-webfont.eot');
    src: url('../fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-extralight-webfont.woff') format('woff'),
         url('../fonts/montserrat-extralight-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-extralight-webfont.svg#montserratextralight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium-webfont.eot');
    src: url('../fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-medium-webfont.woff') format('woff'),
         url('../fonts/montserrat-medium-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-medium-webfont.svg#montserratmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-semibold-webfont.eot');
    src: url('../fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('../fonts/montserrat-semibold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-thin-webfont.eot');
    src: url('../fonts/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-thin-webfont.woff') format('woff'),
         url('../fonts/montserrat-thin-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-thin-webfont.svg#montserratthin') format('svg');
    font-weight: 100;
    font-style: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
    font-family: 'Montserrat', sans-serif;
}
body.no-scroll {
	height: 100vh !important;
	box-sizing: border-box;
	overflow: hidden !important;
}
a{
	text-decoration: none;
	color: #000000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
button:hover {
    cursor: pointer;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.container{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
.mobile-btn {
	display: none;
	position: absolute;
	left: 15px;
	top: calc(50% - 11px);
	width: 26px;
	height: 22px;
	z-index: 1;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #ffffff;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 1;
    left: 15px;
    top: 15.5px;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu {
	display: none;
	position: fixed;
	z-index: 100;
	top: -200%;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	padding: 30px 10px;
	background-color: #ffffff;
    overflow-y: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-menu.active {
	top: 0;
}

.button-text {
    display: inline-block;
    max-width: 100%;
    font-size: 10px;
    color: rgb(79, 79, 79);
    line-height: 1.2;
    position: relative;
    text-align: left;
    padding-left: 24px;
    margin-top: 10px;
}
.button-text a {
    color: rgb(79, 79, 79);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.button-text a:hover {
    color: rgb(19, 89, 68);
}
.button-text .radio-btn {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
    left: 0;
    top: calc(50% - 9px);
    box-sizing: border-box;
}
.button-text .radio-btn.error {
    border-color: #ff0000;
    background-color: #ff0000;
}
.button-text .radio-btn:hover {
    cursor: pointer;
}
.button-text .radio-btn.active::before {
    content: '';
    display: block;
    width: 7px;
    height: 2px;
    position: absolute;
    left: 1px;
    top: 8px;
    background-color: rgb(19, 89, 68);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button-text .radio-btn.active::after {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    position: absolute;
    left: 5px;
    top: 7px;
    background-color: rgb(19, 89, 68);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.header {
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}
.header-top {
    background-color: rgb(19, 89, 68);
}
.header-top .container {
    padding-top: 11px;
    padding-bottom: 11px;
}
.header-top-wrap {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
.header-top-wrap .text-1 {
    font-size: 11px;
    color: #ffffff;
    line-height: 1.2;
}
.header-top-wrap .text-2 {
    font-size: 11px;
    line-height: 1.2;
    color: rgb(126, 209, 165);
}
.header-top-wrap .whatsapp a {
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
    margin-right: 10px;
}
.header-top-wrap .whatsapp a::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(126, 209, 165);
}
.header-top-wrap .whatsapp span {
    font-size: 11px;
    color: #ffffff;
    line-height: 1.2;
}
.header-bot .container {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header-bot-wrap {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
.header-logo {
    display: inline-block;
    max-width: 200px;
}
.header-logo img {
    display: block;
    max-width: 100%;
}
.header-nav {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 430px);
}
.header-nav li a {
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.header-nav li a:hover {
    color: rgb(19, 89, 68);
}
.header-nav li.li-drop {
    position: relative;
}
.header-nav li.li-drop::before {
    content: '';
    display: none;
    width: 100%;
    height: 2px;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: rgb(19, 89, 68);
    z-index: 1;
}
.header-nav li.li-drop:hover:before {
    display: block;
}
.header-nav li.li-drop .drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-sizing: border-box;
    width: auto;
    min-width: 100%;
    max-width: 300px;
    padding-top: 6px;
}
.header-nav li.li-drop:hover .drop {
    display: block;
}
.header-nav li.li-drop .drop-wrap {
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(239, 239, 239);
}
.header-nav li.li-drop .drop-wrap .drop-item {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 16px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}
.header-nav li.li-drop .drop-wrap .drop-item:last-child {
    margin-bottom: 0;
}
.header-nav li.li-drop .drop-wrap .drop-item::before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: rgb(19, 89, 68);
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
}
.header-nav li.li-drop .drop-wrap .drop-item a {
    font-size: 12px;
    text-transform: none;
    color: rgb(65, 65, 65);
}
.header-btn {
    display: inline-block;
    padding: 11px 20px;
    border: 1px solid rgb(19, 89, 68);
    border-radius: 4px;
    text-transform: uppercase;
    color: rgb(19, 89, 68);
    font-size: 13px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.header-btn:hover {
    background-color: rgb(19, 89, 68);
    color: #ffffff;
}

.footer {
    background-color: #ebebeb;
}
.footer .container {
    padding-top: 70px;
    padding-bottom: 60px;
}
.footer-top {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 50px;
}
.footer-top ul li {
    text-align: left;
}
.footer-top ul li a {
    font-size: 14px;
    color: rgb(48, 69, 65);
    line-height: 1.2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-top ul li a:hover {
    color: rgb(19, 89, 68);
}
.footer-dev-logo {
    display: inline-block;
    max-width: 100%;
}
.footer-dev-logo img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.footer-bot {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid rgb(183, 183, 183);
}
.footer-bot ul li {
    text-align: left;
    font-size: 12px;
    color: rgb(98, 98, 98);
    line-height: 1.2;
}
.footer-bot ul li a {
    color: rgb(98, 98, 98);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-bot ul li a:hover {
    color: rgb(19, 89, 68);
}
.footer-cookie {
    display: block;
    max-width: 500px;
    width: 100%;
    font-size: 12px;
    line-height: 1.2;
    color: rgb(98, 98, 98);
    text-align: left;
}

.form-wrap form {
    border-radius: 4px;
    background-color: #ffffff;
    max-width: 630px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 30px;
}
.form-wrap .title {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    line-height: 1.2;
    margin-bottom: 20px;
}
.form-wrap .title span {
    color: rgb(19, 89, 68);
}
.form-wrap .step {
    display: none;
}
.form-wrap .step.active {
    display: block;
}
.form-wrap .step .step-wrap {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}
.form-wrap .step-left {
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.form-wrap .select-wrap {
    position: relative;
    margin-bottom: 10px;
}
.form-wrap .select-area {
    display: block;
    text-align: left;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px 50px 24px 30px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(235, 235, 235);
    font-size: 14px;
    color: #000000;
    line-height: 1.2;
    position: relative;
}
.form-wrap .select-area.active {
    border-radius: 4px 4px 0 0;
    background-color: #ffffff;
}
.form-wrap .select-area::before {
    content: '';
    display: block;
    width: 13px;
    height: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(50% - 3.5px);
    right: 30px;
    background-image: url('../i/sel-arr.png');
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.form-wrap .select-area.active::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.form-wrap .select-area span {
    display: block;
    overflow: hidden;
    width: 100%;
}
.form-wrap .select-area:hover {
    cursor: pointer;
}
.form-wrap .select-drop {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid rgb(235, 235, 235);
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 0 0 4px 4px;
    padding: 24px 30px;
    box-sizing: border-box;
    z-index: 10;
}
.form-wrap .select-drop.active {
    display: block;
}
.form-wrap .select-drop a {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.form-wrap .select-drop a:hover {
    color: rgb(19, 89, 68);
}
.form-wrap .select-drop a:last-child {
    margin-bottom: 0;
}
.form-wrap select {
    display: none;
    visibility: hidden;
    border: 0;
    width: 0;
    height: 0;
    margin: 0;
    font-size: 0;
    padding: 0;
}
.form-wrap input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 30px;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 4px;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.form-wrap input::-webkit-input-placeholder {color:#000000;}
.form-wrap input::-moz-placeholder          {color:#000000;}
.form-wrap input:-moz-placeholder           {color:#000000;}
.form-wrap input:-ms-input-placeholder      {color:#000000;}
.form-wrap input:focus::-webkit-input-placeholder {color:transparent;}
.form-wrap input:focus::-moz-placeholder          {color:transparent;}
.form-wrap input:focus:-moz-placeholder           {color:transparent;}
.form-wrap input:focus:-ms-input-placeholder      {color:transparent;}
.form-wrap input:focus {
    background-color: #ffffff;
}
.form-wrap .step-left p {
    display: block;
    font-size: 12px;
    color: #000000;
    line-height: 1.2;
}
.form-wrap .step-right {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.form-wrap .form-next-btn, .form-wrap button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 24px 10px 23px;
    background-color: rgb(7, 27, 120);
    color: #ffffff;
    font-size: 16px;
    border: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.form-wrap .form-next-btn:hover, .form-wrap button:hover {
    background-color: rgb(27, 47, 140);
}
.form-wrap .info {
    display: block;
    font-size: 12px;
    line-height: 1.2;
    color: rgb(7, 27, 120);
}

.popup {
    border-radius: 4px;
    background-color: #ffffff;
    max-width: 770px;
    box-sizing: border-box;
    width: 95%;
    padding: 40px 10px;
    text-align: center;
}
.popup:hover {
    cursor: default;
}
.popup-title {
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
    line-height: 1.2;
}
.popup-subtitle {
    display: block;
    font-size: 20px;
    color: #000000;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 30px;
}
.popup-subtitle span {
    color: rgb(19, 89, 68);
}
.popup form {
    max-width: 430px;
    width: 100%;
    margin: 0 auto;
}
.popup form input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: rgb(232, 241, 236);
    border: 1px solid rgb(232, 241, 236);
    color: rgb(86, 86, 86);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 24px 30px;
    margin-bottom: 15px;
    text-align: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.popup form input::-webkit-input-placeholder {color:rgb(86, 86, 86);}
.popup form input::-moz-placeholder          {color:rgb(86, 86, 86);}
.popup form input:-moz-placeholder           {color:rgb(86, 86, 86);}
.popup form input:-ms-input-placeholder      {color:rgb(86, 86, 86);}
.popup form input:focus::-webkit-input-placeholder {color:transparent;}
.popup form input:focus::-moz-placeholder          {color:transparent;}
.popup form input:focus:-moz-placeholder           {color:transparent;}
.popup form input:focus:-ms-input-placeholder      {color:transparent;}
.popup form input:focus {
    background-color: #ffffff;
}
.popup button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 24px 30px;
    border-radius: 3px;
    background-color: rgb(7, 27, 120);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.popup button:hover {
    background-color: rgb(27, 47, 140);
}
.popup .button-text {
    font-size: 12px;
    padding-left: 35px;
    margin-top: 15px;
}









@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	.header-top-wrap .text-1, .header-top-wrap .text-2 {
        font-size: 10px;
    }
    .header-bot-wrap {
        flex-wrap: wrap;
    }
    .header-nav {
        order: 1;
        width: 100%;
        margin-top: 10px;
    }
    .footer-top {
        flex-wrap: wrap;
    }
    .footer-top ul {
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }
    .footer-bot {
        display: block;
    }
    .footer-bot ul {
        margin-bottom: 30px;
    }
    .footer-bot ul li {
        text-align: center;
    }
    .footer-cookie {
        margin: 0 auto;
    }
}
@media screen and (max-width: 767px){
    .container {
        padding: 0 10px;
    }
    .header {
        position: fixed;
    }
    .header-top .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header-top-wrap {
        display: block;
    }
    .header-top-wrap .text-1, .header-top-wrap .text-2 {
        display: none;
    }
    .header-top-wrap .whatsapp {
        text-align: right;
    }
    .header-top-wrap .whatsapp a {
        margin-right: auto;
    }
    .header-top-wrap .whatsapp span {
        display: none;
    }
    .header-bot {
        display: none;
    }
    .header-nav li.li-drop:hover:before {
        display: none;
    }
    .header-nav li.li-drop .drop {
        display: block;
        width: 100%;
        max-width: none;
        padding-top: 0;
        position: static;
    }
    .header-nav li.li-drop .drop-wrap {
        padding: 20px 0;
        background-color: transparent;
    }
    .header-nav li.li-drop .drop-wrap .drop-item {
        padding: 0;
        text-align: center;
        white-space: normal;
    }
    .header-nav li.li-drop .drop-wrap .drop-item::before {
        display: none;
    }
    .footer-top {
        display: block;
        margin-bottom: 0;
    }
    .footer-top ul {
        width: 100%;
    }
    .footer-top ul li {
        text-align: center;
    }
    .footer-bot {
        padding-top: 10px;
        border: 0;
    }
    .mobile-btn, .close-btn, .mobile-menu {
        display: block;
    }
    .mobile-menu .header-nav {
        display: block;
        margin: 30px auto;
    }
    .mobile-menu .header-nav li {
        margin-bottom: 10px;
    }
    .form-wrap .step .step-wrap {
        display: block;
    }
    .form-wrap .step-left {
        margin: 0 auto 20px;
    }
    .form-wrap .step-right {
        margin: 0 auto 20px;
    }
}