body {
	padding-top: 115px;
}

.b-1 {
	background-image: url('../i/m-b-1-fon.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.b-1 .container {
	padding-top: 115px;
	padding-bottom: 170px;
}
.b-1 h2 {
	display: block;
	font-weight: 300;
	color: #ffffff;
	font-size: 35px;
	line-height: 1.2;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 30px;
}
.b-1 h2::before {
	content: '';
	display: block;
	width: 100px;
	height: 4px;
	position: absolute;
	left: calc(50% - 50px);
	bottom: 0;
	background-color: rgb(19, 89, 68);
}
.b-1 h2 span {
	font-weight: 500;
}
.b-1 h3 {
	display: block;
	color: #ffffff;
	line-height: 1.2;
	font-size: 20px;
	margin-bottom: 65px;
}
.b-1-btn {
	display: block;
	box-sizing: border-box;
	padding: 24px 20px;
	border-radius: 4px;
	background-color: rgb(7, 27, 120);
	max-width: 230px;
	width: 100%;
	margin: 0 auto;
	color: #ffffff;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-btn:hover {
	background-color: rgb(27, 47, 140);
}

.b-2 .container {
	padding-top: 85px;
	padding-bottom: 40px;
}
.b-2-wrap {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 50px;
}
.b-2-text {
	width: 100%;
	max-width: 470px;
	text-align: left;
	box-sizing: border-box;
}
.b-2 h2 {
	display: block;
	font-size: 35px;
	line-height: 1.2;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 70px;
	font-weight: 300;
}
.b-2 h2 span {
	font-weight: 500;
}
.b-2-text p {
	display: block;
	font-size: 17px;
	color: #000000;
	line-height: 1.2;
}
.b-2-info {
	width: 100%;
	max-width: 330px;
	box-sizing: border-box;
}
.b-2-info-img {
	display: block;
	margin: 0 auto 22px;
	max-width: 100%;
}
.b-2-info .name {
	font-size: 16px;
	font-weight: 500;
	color: rgb(19, 89, 68);
	line-height: 1.2;
	margin-bottom: 15px;
}
.b-2-info .post {
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 4px;
}
.b-2-info .contacts {
	font-size: 14px;
	color: #000000;
	line-height: 1.2;
}
.b-2-info .contacts .phone-a {
	font-weight: 600;
	color: #000000;
	font-size: 14px;
	line-height: 1.2;
}
.b-2-info .contacts .wa-a {
	font-size: 14px;
	line-height: 1.2;
	color: rgb(19, 89, 68);
	font-weight: 500;
}
.b-2-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-2-list li {
	width: calc(33% - 15px);
}
.b-2-list .number {
	font-size: 52px;
	color: rgb(19, 89, 68);
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 20px;
}
.b-2-list .title {
	font-weight: 600;
	font-size: 16px;
	color: #000000;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.b-2-list p {
	display: block;
	font-size: 14px;
	color: rgb(83, 83, 83);
	line-height: 1.2;
}
.b-2-btn {
	display: block;
	box-sizing: border-box;
	padding: 24px 20px;
	border-radius: 4px;
	background-color: rgb(7, 27, 120);
	max-width: 230px;
	width: 100%;
	margin: 50px auto 0;
	color: #ffffff;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-2-btn:hover {
	background-color: rgb(27, 47, 140);
}

.b-3 .container {
	padding-top: 40px;
	padding-bottom: 30px;
}
.b-3 h2 {
	display: block;
	font-size: 35px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 25px;
}
.b-3 h3 {
	display: block;
	font-size: 23px;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 50px;
}
.b-3 h3 span {
	color: rgb(19, 89, 68);
}
.b-3-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-3-list li {
	width: calc(25% - 22.5px);
	margin: 0 15px 30px;
}
.b-3-list li:nth-child(4n) {
	margin-right: 0;
}
.b-3-list li:nth-child(4n+1) {
	margin-left: 0;
}
.b-3-list .image {
	display: block;
	position: relative;
	width: 100%;
	height: 270px;
	background-color: rgb(235, 235, 235);
	margin-bottom: 20px;
}
.b-3-list .image img {
	display: block;
	max-width: 95%;
	max-height: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.b-3-list .name {
	display: block;
	margin-bottom: 15px;
	color: #000000;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
}
.b-3-list .li-btn {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 19px 10px;
	border-radius: 4px;
	border: 1px solid rgb(19, 89, 68);
	color: rgb(19, 89, 68);
	font-size: 14px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-3-list .li-btn:hover {
	background-color: rgb(19, 89, 68);
	color: #ffffff;
}
.b-3-list-2 {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-3-list-2 li {
	width: calc(50% - 15px);
	margin-bottom: 30px;
}
.b-3-list-2 li .image {
	display: block;
	width: 100%;
	position: relative;
	margin-bottom: 20px;
}
.b-3-list-2 li .image a img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.b-3-list-2 li .name {
	display: block;
	color: rgb(83, 83, 83);
	font-size: 18px;
	line-height: 1.2;
}
.b-3-twenty-container {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
}

.b-4 {
	background-color: rgb(232, 241, 236);
}
.b-4 .container {
	padding-top: 25px;
	padding-bottom: 25px;
}
.b-4-wrap {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
}
.b-4-info {
	width: 100%;
	max-width: 330px;
	box-sizing: border-box;
}
.b-4-info-img {
	display: block;
	margin: 0 auto 22px;
	max-width: 100%;
}
.b-4-info .name {
	font-size: 16px;
	font-weight: 500;
	color: rgb(19, 89, 68);
	line-height: 1.2;
	margin-bottom: 15px;
}
.b-4-info .post {
	font-size: 14px;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 4px;
}
.b-4-info .contacts {
	font-size: 14px;
	color: #000000;
	line-height: 1.2;
}
.b-4-info .contacts .phone-a {
	font-weight: 600;
	color: #000000;
	font-size: 14px;
	line-height: 1.2;
}
.b-4-info .contacts .wa-a {
	font-size: 14px;
	line-height: 1.2;
	color: rgb(19, 89, 68);
	font-weight: 500;
}
.b-4-text {
	width: calc(100% - 390px);
}
.b-4-text p {
	font-size: 22px;
	color: #000000;
	line-height: 1.2;
	text-align: left;
	font-weight: 500;
	margin-bottom: 50px;
}
.b-4-text p span {
	color: rgb(19, 89, 68);
}
.b-4-btn {
	display: block;
	max-width: 270px;
	color: #ffffff;
	border-radius: 4px;
	background-color: rgb(19, 89, 68);
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-btn:hover {
	background-color: rgb(39, 109, 88);
}

.b-5 .container {
	padding-top: 80px;
	padding-bottom: 10px;
}
.b-5 h2 {
	display: block;
	font-size: 35px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 25px;
}
.b-5 h3 {
	display: block;
	font-size: 23px;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 40px;
}
.b-5 h3 span {
	color: rgb(19, 89, 68);
}
.b-5-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
}
.b-5-list li {
	width: calc(33% - 20px);
	margin: 0 15px 30px;
}
.b-5-list li:nth-child(3n) {
	margin-right: 0;
}
.b-5-list li:nth-child(3n+1) {
	margin-left: 0;
}
.b-5-list li a img {
	display: block;
	max-width: 100%;
}

.b-6 .container {
	padding-top: 40px;
	padding-bottom: 90px;
}
.b-6 h2 {
	display: block;
	font-size: 35px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 40px;
}
.b-6 h3 {
	display: block;
	font-size: 23px;
	line-height: 1.2;
	color: #000000;
	margin-bottom: 30px;
}
.b-6 h3 span {
	color: rgb(19, 89, 68);
}
.b-6-form {
	display: block;
	max-width: 770px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid rgb(215, 215, 215);
	box-sizing: border-box;
}
.b-6-form .name {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	font-size: 18px;
	color: #000000;
	line-height: 1.2;
	background-color: rgb(225, 225, 225);
}
.b-6-form .name span {
	color: rgb(19, 89, 68);
}
.b-6-form form {
	box-sizing: border-box;
	padding: 40px 20px;
	max-width: 470px;
	width: 100%;
	margin: 0 auto;
}
.b-6-form .select-wrap {
	position: relative;
	margin-bottom: 15px;
}
.b-6-form .select-area {
	display: block;
	text-align: left;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 24px 50px 24px 30px;
	width: 100%;
	background-color: rgb(232, 241, 236);
	border: 1px solid rgb(232, 241, 236);
	font-size: 14px;
	color: #000000;
	line-height: 1.2;
	position: relative;
}
.b-6-form .select-area.active {
	border-radius: 4px 4px 0 0;
	background-color: #ffffff;
}
.b-6-form .select-area::before {
	content: '';
	display: block;
	width: 13px;
	height: 7px;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: calc(50% - 3.5px);
	right: 30px;
	background-image: url('../i/sel-arr.png');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6-form .select-area.active::before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.b-6-form .select-area span {
	display: block;
	overflow: hidden;
	width: 100%;
}
.b-6-form .select-area:hover {
	cursor: pointer;
}
.b-6-form .select-drop {
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid rgb(232, 241, 236);
	top: 100%;
	left: 0;
	width: 100%;
	border-radius: 0 0 4px 4px;
	padding: 24px 30px;
	box-sizing: border-box;
	z-index: 10;
}
.b-6-form .select-drop.active {
	display: block;
}
.b-6-form .select-drop a {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-size: 14px;
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6-form .select-drop a:hover {
	color: rgb(19, 89, 68);
}
.b-6-form .select-drop a:last-child {
	margin-bottom: 0;
}
.b-6-form form select {
	display: none;
	visibility: hidden;
	border: 0;
	width: 0;
	height: 0;
	margin: 0;
	font-size: 0;
	padding: 0;
}
.b-6-form form input {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: rgb(232, 241, 236);
	border: 1px solid rgb(232, 241, 236);
	color: rgb(86, 86, 86);
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	padding: 24px 30px;
	margin-bottom: 15px;
	text-align: left;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6-form form input::-webkit-input-placeholder {color:rgb(86, 86, 86);}
.b-6-form form input::-moz-placeholder          {color:rgb(86, 86, 86);}
.b-6-form form input:-moz-placeholder           {color:rgb(86, 86, 86);}
.b-6-form form input:-ms-input-placeholder      {color:rgb(86, 86, 86);}
.b-6-form form input:focus::-webkit-input-placeholder {color:transparent;}
.b-6-form form input:focus::-moz-placeholder          {color:transparent;}
.b-6-form form input:focus:-moz-placeholder           {color:transparent;}
.b-6-form form input:focus:-ms-input-placeholder      {color:transparent;}
.b-6-form form input:focus {
	background-color: #ffffff;
}
.b-6-form button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 24px 30px;
	border-radius: 3px;
	background-color: rgb(7, 27, 120);
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	border: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6-form button:hover {
	background-color: rgb(27, 47, 140);
}
.b-6-form .button-text {
	font-size: 12px;
	padding-left: 35px;
	margin-top: 15px;
}

.b-10 {
	background-color: rgb(58, 58, 58);
}
.b-10 .container {
	padding-top: 110px;
	padding-bottom: 110px;
}
.b-10 h2 {
	display: block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 300;
	color: #ffffff;
	line-height: 1.2;
	margin-bottom: 50px;
}
.b-10 h2 span {
	font-weight: 500;
}
.b-10 .phone {
	margin-bottom: 15px;
}
.b-10 .phone a {
	display: inline-block;
	position: relative;
	padding-bottom: 13px;
	font-weight: 600;
	font-size: 26px;
	color: rgb(165, 211, 185);
	line-height: 1.2;
}
.b-10 .phone a::before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: rgb(112, 112, 112);
	position: absolute;
	left: 0;
	bottom: 0;
}
.b-10 .whatsapp {
	margin-bottom: 40px;
}
.b-10 .whatsapp a {
	font-size: 18px;
	color: #ffffff;
}
.b-10 .mail {
	font-size: 18px;
	color: rgb(163, 163, 163);
	line-height: 1.2;
	margin-bottom: 35px;
}
.b-10 .social-list {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 25px;
}
.b-10 .social-list li {
	display: block;
	max-width: 43px;
	max-height: 43px;
	margin: 0 5px;
}
.b-10 .social-list li a img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-10 .social-list li a:hover img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.b-10-btn {
	display: block;
	border: 1px solid #ffffff;
	border-radius: 4px;
	max-width: 270px;
	box-sizing: border-box;
	padding: 19px 20px;
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-10-btn:hover {
	background-color: #ffffff;
	color: #000000;
}




@media screen and (max-width: 1280px){
	body {
		padding-top: 144px;
	}
	.b-3-list li {
		width: calc(33% - 20px);
	}
	.b-3-list li:nth-child(4n), .b-3-list li:nth-child(4n+1) {
		margin: 0 15px 30px;
	}
	.b-3-list li:nth-child(3n) {
		margin-right: 0;
	}
	.b-3-list li:nth-child(3n+1) {
		margin-left: 0;
	}
}
@media screen and (max-width: 767px) {
	body {
		padding-top: 53px;
	}
	.b-1 .container {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.b-2-wrap {
		display: block;
	}
	.b-2-text {
		max-width: 100%;
		margin-bottom: 40px;
	}
	.b-2 h2 {
		margin-bottom: 30px;
	}
	.b-2-info {
		margin: 0 auto;
	}
	.b-2-list {
		display: block;
	}
	.b-2-list li {
		width: 100%;
		margin-bottom: 30px;
	}
	.b-3-list, .b-5-list {
		justify-content: space-between;
	}
	.b-3-list li, .b-5-list li {
		width: calc(50% - 15px);
		margin: 0 0 30px !important;
	}
	.b-3-list-2 {
		display: block;
	}
	.b-3-list-2 li {
		width: 100%;
	}
	.b-4-wrap {
		display: block;
	}
	.b-4-info {
		margin: 0 auto 50px;
	}
	.b-4-text {
		width: 100%;
	}
	.b-4-btn {
		margin: 0 auto;
	}
}
@media screen and (max-width: 500px) {
	.b-3-list, .b-5-list {
		display: block;
	}
	.b-3-list li, .b-5-list li {
		width: 100%;
		margin: 0 auto 30px !important;
	}
}